page-capture {
    .content-md {
        background-color: #f4f4f4;
        background: linear-gradient(to bottom, #e1e1e1 0%, #f4f4f4 100%);
    }

    ion-card img {
        max-width: 300px;
        margin: 0 auto;
    }        
}
