page-settings {
    .content-md {        
        background-color: #f4f4f4;
        background: linear-gradient(to bottom, #e1e1e1 0%, #f4f4f4 100%);
    }

    ion-card.settings-card.form-container.content-card ion-item.item .item-inner {
        border-bottom: 1px solid #dedede;
    }

    .inline-card-button {
        .inline-card-icon {
            border-right: 1px solid color($colors, white-divider);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
        }
        ion-col {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .secondary-text {
            line-height: 1.1;
            color: color($colors, p-text-secondary);

            ion-icon {
                vertical-align: middle;
            }
        }
    }
}
