// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  p-primary-dark : #00796b,
  p-primary : #009688,
  p-primary-light : #B2DFDB,
  p-text : #FFFFFF,
  p-text-tabs: #c1c1c1,
  p-accent : #607d8b,
  p-text-dark : #212121,
  p-text-secondary : #757575,
  p-divider : #BDBDBD,
  white-divider : #E5E5E5,
  p-danger : #e74c3c,
  p-success: #2ecc71
);


// Toast Overrides
$toast-md-title-padding-top: 28px;

// Changing Select Radio Button color
$alert-md-button-text-color: color($colors, p-primary-dark);

// Hide bottom box shadow on text inputs
$text-input-md-show-focus-highlight: false;

// Change DateTime picker color
.picker-md .picker-opt.picker-opt-selected {
  color: color($colors, p-primary-dark) !important;
}

.picker-md .picker-button {
  color: color($colors, p-primary-dark) !important;
}

$loading-md-spinner-color: color($colors, p-primary-dark);

.alert-md .alert-input {
  border-radius: 0 !important;
}

$alert-md-input-border-color-focused: color($colors, p-primary);

// Tabs overwrites
.tabs-md .tabbar {
  background: color($colors, p-primary-dark) !important;
}

$tabs-md-tab-text-color-active: color($colors, p-text);
$tabs-md-tab-icon-color-active: color($colors, p-text);
$tabs-md-tab-text-color: color($colors, p-text-tabs);
$tabs-md-tab-icon-color: color($colors, p-text-tabs);

.tabs-md[tabsHighlight=true] .tab-highlight {
  background: #fff !important;
}

$tabs-md-tab-padding-top: 10px;
$tabs-md-tab-padding-bottom: 10px;
$tabs-md-tab-padding-active-top: 10px;
$tabs-md-tab-padding-active-bottom: 10px;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
